<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.UserMapper">
	<resultMap type="com.example.demo.model.User" id="usermap">
		<id property="id" column="id"/>
		<result property="username" column="username"/>
		<result property="password" column="password"/>
		<collection property="book" ofType="com.example.demo.model.Book">
			<id property="bid" column="bid"/>
			<result property="userid" column="userid"/>
			<result property="bookname" column="bookname"/>
			<result property="bookprice" column="bookprice"/>
		</collection>
	</resultMap>
	<select id="findAllUserAndBook"  resultMap="usermap">
		SELECT * FROM USER LEFT JOIN book ON user.id = book.userid
	</select>
</mapper>